<div style="border-radius: 15px; border: 3px solid indigo; padding: 15px;">
<b> Комментарий ревьюера</b>
    
Привет! Меня зовут Светлана Носова, я буду проверять твой проект. Если не против, давай общаться на «ты». Если тебе такой стиль общения не нравится, напиши об этом, будем на «вы». 

Сразу хочу обратить внимание на цветовую разметку.

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

Зеленым отмечены отличные решения и идеи, которые можно и нужно использовать в будущем.
</div>
    
<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

Желтым отмечено то, что можно или нужно оптимизировать, в зависимости от контекста.</div>    
    
<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

Красным  обозначены пропущенные пункты задания и ошибки, которые обязательно надо будет исправить, чтобы результаты были верные.</div> 
    
**Ответы на мои комментарии или доработки по моим рекомендациям попрошу выделить каким-нибудь цветом, кроме перечисленных.**
Также я попрошу тебя **не менять, не передвигать и не удалять мои комментарии**, чтобы при последующей проверке мне было проще ориентироваться.
    
Кроме того, комментарии у меня обозначены как заголовки. Это сбивает содержание, но при последующей проверке я могу снять с них заголовок, если тебе так будет удобнее. При этом они удобны, поскольку ты сразу можешь перейти к ним.   
        
<hr>
    
**По проекту:** работа выполнена хорошо, все оформлено понятно и аккуратно, есть анализ и промежуточные выводы. У меня остались некоторые вопросы, я все написала в комментариях. Там же я оставила и рекомендации по улучшению проекта. Буду ждать работу на повторное ревью.
    
<hr style="border-top: 3px solid purple; "></hr>
Комментарии можешь оставлять с помощью такого кода в Markdown ячейке:
    
    
    <div class="alert alert-info">
    <h2> Комментарий студента</h2>

    Тут текст.
    </div>
    
    
    <font color='red'> Этот код позволяет менять цвет текста. </font>     

<font color='red'> Выглядит это так. </font> 
  
    
Если не хочешь, чтобы твои комментарии отображались в содержании как заголовки, замени **h2** на **b** или добавь `<a class="tocSkip">` после фразы *Комментарий студента*.


О том, как **форматировать текст** в Markdown ячейке или как добавлять ссылки, ты можешь узнать [тут](https://sqlbak.com/blog/jupyter-notebook-markdown-cheatsheet) и [вот тут](https://medium.com/analytics-vidhya/the-ultimate-markdown-guide-for-jupyter-notebook-d5e5abf728fd).
</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

Светлана, спасибо за проверку!
    
Я поправил код, поправил выводы, по каждому изменению писал комментарии с пометкой   **Комментарий студента**
    
Проверь, пожалуйста, откорректированную версию.
    

</div>

<div style="border-radius: 15px; border: 3px solid indigo; padding: 15px;">
<b> Комментарий ревьюера 2</b>
    
Александр, спасибо за корректировки, отличная работа :) Я оставила новые комментарии с цифрой 2, а со старых сняла заголовки, чтобы  не мешали. Посмотри их, пожалуйста. Там я оставила пример очень лаконичной замены пропусков. 
    
Надеюсь,  мои комментарии были полезны. 
    
Работу я могу принять, поскольку вопросов больше нет. Желаю успехов и хорошего дня :)
</div>

# Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
Правильно делаешь, что не убираешь краткое описание задачи. Это поможет быстро вспомнить, о чем проект, если ты к нему вернешься спустя какое-то время.
</div>

## Шаг 1. Откройте файл с данными и изучите общую информацию

In [1]:
# импортируем библитоеку pandas, прочитаем данные из таблицы data и присвоим значение таблицы переменной table 
import pandas as pd
table = pd.read_csv('/datasets/data.csv')

# выведем информаию о таблице и первые 20 строк для изучения таблицы
table.info()
table.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Вывод**

1) В таблице 21525 строк и 12 колонок.

2) В колонках days_employed и total_income имеется 2 174 пропусков, клиенты о которых нет информации о статусе трудоустройства и не указан доход. Общее количество составляет почти 10%, следовательно данные лучше не удалять.

3) В колонке с образованием имеются разница в использовании регистра при вводе данных, данные придется обработать чтобы привести к одному виду.

4) в колонках days_employed и total_income необходимо будет обработать данные, так в текущем формате неудобно анализировать данные

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
Хорошая вводная часть.</div>

## Шаг 2. Предобработка данных

### Обработка пропусков

Чтобы сохранить важные данные заменим пустые значения на средние в колонках total_income и days_employed.

In [2]:
# заполним пустые значения на средние значения в колонке days_employed
table['days_employed'] = table['days_employed'].fillna(table['days_employed'].mean()) 

#  приведем в столбце education все значение к строчным
table['education'] = table['education'].str.lower()

#  создадим функцию для определения возрастной категории
def age (age_value):
    if age_value < 35:
        return 'молодежь'
    elif 35<= age_value <=55:
        return 'средний возраст'
    elif age_value>55:
        return 'пожилого возраста'
    
# добавим в датафрейм категорию возраста
table['age_category'] = table['dob_years'].apply(age)
 
#  создадим дата фрейм с колонками категории возраста, образования и типа дохода с уникальными значениями
all_unique = {'education': table['education'],'income_type':table['income_type'],'age_category': table['age_category']}
all_unique = pd.DataFrame(all_unique)
all_unique = all_unique.drop_duplicates().reset_index(drop=True)

#  создадим функцию для определения медианного значения в зависимости от типа занятости, образования и возрастной группы
def median_calc (row):
    B = round(table[(table['age_category'] == row['age_category']) & (table['income_type'] == row['income_type']) & (table['education'] == row['education'] )].total_income.median(),2)
    return B

# добавим в дата фрейм медианное значение для каждой категории
all_unique['median'] = all_unique.apply(median_calc,axis=1) 

# выведем таблицу на экран
display(all_unique)

# заполним пропуск медианным значением
all_unique['median'] = all_unique['median'].fillna(all_unique['median'].median())

# выведем таблицу на экран
display(all_unique)

/opt/conda/lib/python3.7/site-packages/numpy/lib/nanfunctions.py:1111: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

              education      income_type       age_category     median
0                высшее        сотрудник    средний возраст  171441.00
1               среднее        сотрудник    средний возраст  138435.87
2               среднее        сотрудник           молодежь  131710.94
3               среднее        пенсионер    средний возраст  117894.96
4                высшее        компаньон           молодежь  191159.14
5                высшее        компаньон    средний возраст  215277.93
6               среднее        пенсионер  пожилого возраста  114200.79
7   неоконченное высшее        сотрудник    средний возраст  161129.20
8                высшее        компаньон  пожилого возраста  200807.92
9                высшее        сотрудник           молодежь  157505.97
10              среднее      госслужащий    средний возраст  134526.70
11            начальное        сотрудник    средний возраст  125560.37
12              среднее        компаньон    средний возраст  162140.52
13              среднее        компаньон           молодежь  154081.92
14  неоконченное высшее        сотрудник           молодежь  145919.11
15  неоконченное высшее        компаньон    средний возраст  215453.89
16               высшее      госслужащий           молодежь  160242.95
17              среднее        компаньон  пожилого возраста  164098.31
18               высшее      госслужащий    средний возраст  175589.24
19               высшее        пенсионер    средний возраст  160298.23
20               высшее        пенсионер  пожилого возраста  142307.34
21              среднее        пенсионер           молодежь   97620.69
22              среднее        сотрудник  пожилого возраста  140785.72
23            начальное        пенсионер  пожилого возраста  102598.65
24  неоконченное высшее        компаньон           молодежь  159994.53
25              среднее      госслужащий  пожилого возраста  147036.63
26               высшее        сотрудник  пожилого возраста  173090.07
27            начальное        пенсионер    средний возраст   96330.47
28              среднее      госслужащий           молодежь  135753.54
29            начальное        сотрудник           молодежь  125994.91
30            начальное        компаньон           молодежь  132294.64
31            начальное        сотрудник  пожилого возраста  127021.00
32  неоконченное высшее        компаньон  пожилого возраста  213211.87
33  неоконченное высшее        пенсионер    средний возраст  111701.53
34               высшее      госслужащий  пожилого возраста  184722.74
35  неоконченное высшее      госслужащий    средний возраст  184062.64
36  неоконченное высшее      госслужащий           молодежь  150857.39
37  неоконченное высшее        сотрудник  пожилого возраста  229339.20
38            начальное      госслужащий    средний возраст  190912.18
39            начальное        компаньон    средний возраст  168979.94
40  неоконченное высшее        пенсионер  пожилого возраста  127205.09
41       ученая степень        пенсионер  пожилого возраста  177088.85
42              среднее      безработный           молодежь   59956.99
43       ученая степень        сотрудник    средний возраст  157259.90
44               высшее        пенсионер           молодежь  183556.36
45            начальное      госслужащий  пожилого возраста   79432.97
46               высшее  предприниматель  пожилого возраста        NaN
47       ученая степень        сотрудник  пожилого возраста  268411.21
48            начальное      госслужащий           молодежь  191021.14
49               высшее          студент           молодежь   98201.63
50       ученая степень      госслужащий    средний возраст  111392.23
51               высшее      безработный    средний возраст  202722.51
52            начальное        компаньон  пожилого возраста   96989.66
53               высшее  предприниматель           молодежь  499163.14
54              среднее        в декрете    средний возраст   53829.13

              education      income_type       age_category     median
0                высшее        сотрудник    средний возраст  171441.00
1               среднее        сотрудник    средний возраст  138435.87
2               среднее        сотрудник           молодежь  131710.94
3               среднее        пенсионер    средний возраст  117894.96
4                высшее        компаньон           молодежь  191159.14
5                высшее        компаньон    средний возраст  215277.93
6               среднее        пенсионер  пожилого возраста  114200.79
7   неоконченное высшее        сотрудник    средний возраст  161129.20
8                высшее        компаньон  пожилого возраста  200807.92
9                высшее        сотрудник           молодежь  157505.97
10              среднее      госслужащий    средний возраст  134526.70
11            начальное        сотрудник    средний возраст  125560.37
12              среднее        компаньон    средний возраст  162140.52
13              среднее        компаньон           молодежь  154081.92
14  неоконченное высшее        сотрудник           молодежь  145919.11
15  неоконченное высшее        компаньон    средний возраст  215453.89
16               высшее      госслужащий           молодежь  160242.95
17              среднее        компаньон  пожилого возраста  164098.31
18               высшее      госслужащий    средний возраст  175589.24
19               высшее        пенсионер    средний возраст  160298.23
20               высшее        пенсионер  пожилого возраста  142307.34
21              среднее        пенсионер           молодежь   97620.69
22              среднее        сотрудник  пожилого возраста  140785.72
23            начальное        пенсионер  пожилого возраста  102598.65
24  неоконченное высшее        компаньон           молодежь  159994.53
25              среднее      госслужащий  пожилого возраста  147036.63
26               высшее        сотрудник  пожилого возраста  173090.07
27            начальное        пенсионер    средний возраст   96330.47
28              среднее      госслужащий           молодежь  135753.54
29            начальное        сотрудник           молодежь  125994.91
30            начальное        компаньон           молодежь  132294.64
31            начальное        сотрудник  пожилого возраста  127021.00
32  неоконченное высшее        компаньон  пожилого возраста  213211.87
33  неоконченное высшее        пенсионер    средний возраст  111701.53
34               высшее      госслужащий  пожилого возраста  184722.74
35  неоконченное высшее      госслужащий    средний возраст  184062.64
36  неоконченное высшее      госслужащий           молодежь  150857.39
37  неоконченное высшее        сотрудник  пожилого возраста  229339.20
38            начальное      госслужащий    средний возраст  190912.18
39            начальное        компаньон    средний возраст  168979.94
40  неоконченное высшее        пенсионер  пожилого возраста  127205.09
41       ученая степень        пенсионер  пожилого возраста  177088.85
42              среднее      безработный           молодежь   59956.99
43       ученая степень        сотрудник    средний возраст  157259.90
44               высшее        пенсионер           молодежь  183556.36
45            начальное      госслужащий  пожилого возраста   79432.97
46               высшее  предприниматель  пожилого возраста  155670.91
47       ученая степень        сотрудник  пожилого возраста  268411.21
48            начальное      госслужащий           молодежь  191021.14
49               высшее          студент           молодежь   98201.63
50       ученая степень      госслужащий    средний возраст  111392.23
51               высшее      безработный    средний возраст  202722.51
52            начальное        компаньон  пожилого возраста   96989.66
53               высшее  предприниматель           молодежь  499163.14
54              среднее        в декрете    средний возраст   53829.13

In [3]:
# создадим цикл для заполнения пустых значений колонки total_income в таблице table
for ind in all_unique.index:
#     print(all_unique['median'][ind])    
    (table[(table['age_category']== all_unique['age_category'][ind]) 
           & (table['education']== all_unique['education'][ind]) 
           & (table['income_type']== all_unique['income_type'][ind])]) =(
        table[(table['age_category']== all_unique['age_category'][ind]) 
           & (table['education']== all_unique['education'][ind]) 
           & (table['income_type']== all_unique['income_type'][ind])]).fillna(all_unique['median'][ind])
#             table[(table['age_category']== age) & (table['education']== edu) & (table['income_type']== income)].fillna(temp_median['median'])

# выведем на экран информацию о таблице
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 13 columns):
children            21525 non-null int64
days_employed       21525 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
age_category        21525 non-null object
dtypes: float64(2), int64(5), object(6)
memory usage: 2.1+ MB

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
Во-первых, лучше использовать медиану, а не среднее. Во-вторых, такое заполнение все же повлияет на распределение (например, появятся всплески на гистограмме).  Раз уж у нас есть такая возможность, давай попробуем заменить пропуски дохода медианой, но взятой по 2-3 характеристикам клиента? Группы можно собрать по разным параметрам. Например, тип занятости + образование + возрастная группа. Попробуешь реализовать это? Если что, я помогу. Столбец стажа можно так не заполнять, поскольку он нам не нужен. 
</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
    
**Комментарий студента**
    
Я откорректировал код:
    
- создал функцию для определения возрастной категории.
- создал дата фрейм со всеми уникальными комбинациями возрастов, типа дохода и образования и нашел к ним медиану значения дохода.
- создал цикл в котором всем пропущеным значениям присваивалось медианное значения дохода в зависимости от категории
</div>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера 2</h2>
    
Супер :) Здорово, что в циклах не теряешься. Я тебе хочу показать еще пару вариантов замены. Итак, мы можем создать сводную таблицу и функцию, которая будет вытаскивать нужные нам значения из этой таблицы:
</div>

In [5]:
# КОД РЕВЬЮЕРА

table.pivot_table(index=['income_type', 'age_category'], columns='education', values='total_income', aggfunc='median')

education                                 высшее      начальное  \
income_type     age_category
безработный     молодежь                     NaN            NaN
                средний возраст    202722.511368            NaN
в декрете       средний возраст              NaN            NaN
госслужащий     молодежь           160242.950000  191021.140719
                пожилого возраста  184722.740000   79432.970000
                средний возраст    175589.240000  190912.179174
компаньон       молодежь           191159.140000  132294.644611
                пожилого возраста  200807.920000   96989.663464
                средний возраст    215277.930000  168979.940000
пенсионер       молодежь           183556.360000            NaN
                пожилого возраста  142307.340000  102598.650000
                средний возраст    160298.230000   96330.470000
предприниматель молодежь           499163.144947            NaN
                пожилого возраста  155670.910000            NaN
сотрудник       молодежь           157505.970000  125994.910000
                пожилого возраста  173090.070000  127021.000000
                средний возраст    171441.000000  125560.370000
студент         молодежь            98201.625314            NaN

education                          неоконченное высшее        среднее  \
income_type     age_category
безработный     молодежь                           NaN   59956.991984
                средний возраст                    NaN            NaN
в декрете       средний возраст                    NaN   53829.130729
госслужащий     молодежь                 150857.390000  135753.540000
                пожилого возраста                  NaN  147036.630000
                средний возраст          184062.639815  134526.700000
компаньон       молодежь                 159994.530000  154081.920000
                пожилого возраста        213211.870000  164098.310000
                средний возраст          215453.890000  162140.520000
пенсионер       молодежь                           NaN   97620.690000
                пожилого возраста        127205.090000  114200.790000
                средний возраст          111701.530942  117894.960000
предприниматель молодежь                           NaN            NaN
                пожилого возраста                  NaN            NaN
сотрудник       молодежь                 145919.110000  131710.940000
                пожилого возраста        229339.200000  140785.720000
                средний возраст          161129.200000  138435.870000
студент         молодежь                           NaN            NaN

education                          ученая степень
income_type     age_category
безработный     молодежь                      NaN
                средний возраст               NaN
в декрете       средний возраст               NaN
госслужащий     молодежь                      NaN
                пожилого возраста             NaN
                средний возраст     111392.231107
компаньон       молодежь                      NaN
                пожилого возраста             NaN
                средний возраст               NaN
пенсионер       молодежь                      NaN
                пожилого возраста   177088.845999
                средний возраст               NaN
предприниматель молодежь                      NaN
                пожилого возраста             NaN
сотрудник       молодежь                      NaN
                пожилого возраста   268411.214536
                средний возраст     157259.898555
студент         молодежь                      NaN

In [8]:
# КОД РЕВЬЮЕРА

qq = table.pivot_table(index=['income_type', 'age_category'], columns='education', values='total_income', aggfunc='median')
qq.loc[('студент', 'молодежь')]['высшее']

98201.62531401133

In [9]:
# КОД РЕВЬЮЕРА

def super_fillna_func(income_type, gender, education):
    '''
    Находит в таблице qq нужную медиану.
    '''
    try:
        return qq.loc[(income_type, gender)][education]
    except:
        return 0
    
print(super_fillna_func('студент', 'молодежь','высшее') )

98201.62531401133

In [10]:
# КОД РЕВЬЮЕРА

print(super_fillna_func('ревьюер', 'молодежь','высшее') )

0

In [12]:
# КОД РЕВЬЮЕРА

# Так сработает apply.
table.apply(lambda row: super_fillna_func(row['income_type'], row['age_category'], row['education']), axis=1)

0        171441.00
1        138435.87
2        131710.94
3        131710.94
4        117894.96
           ...
21520    162140.52
21521    114200.79
21522    138435.87
21523    138435.87
21524    138435.87
Length: 21525, dtype: float64

In [ ]:
# КОД РЕВЬЮЕРА (Не запускаю)

# Вот так применяем к таблице.

# Запишем в новый столбец.
table['new_income'] = table.apply(lambda row: super_fillna_func(row['income_type'], row['age_category'], row['education']), axis=1)

# Пандас сам заменит пропуски значениями из нового столбца в той же строке.
table['total_income'] = table['total_income'].fillna(table['new_income'])

In [ ]:
# КОД РЕВЬЮЕРА (Не запускаю)

# А вот так мы столбец создадим, но сохранять не будем. Замену произведем в воздухе:
table['total_income'] = table['total_income'].fillna(table.apply(lambda row: super_fillna_func(row['income_type'], row['age_category'], row['education']), axis=1))

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера 2</h2>
    
Спешу тебя обрадовать. Есть еще более короткий вариант: </div>

In [ ]:
# КОД РЕВЬЮЕРА (Не запускаю)

table['total_income'] = table.groupby(['income_type','age_category', 'education'])['total_income'].apply(lambda x: x.fillna(x.median()))
   
# Оно же, но без лямбды:
table['total_income'] = table['total_income'].fillna(table.groupby(['income_type','age_category', 'education'])['total_income'].transform('median'))

**Вывод**

*Теперь в таблице нет пустых значений можно переходить к дальнейшей обработке.*
*Пустые данные могли появиться из-за того что клиенты не указали информацию о доходе или его нет на данный момент.*

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
- Во-первых, зачем людям без опыта работы и без дохода брать кредит? На что они рассчитывают? К тому же, если клиент работает не по трудовой и платит налоги, доход можно подтвердить. Во-вторых, пропуски есть и у пенсионеров. Вряд ли там нет стажа. В-третьих, среди пенсионеров есть и молодые люди до 30 лет, а само это слово употребляется в столбце типа занятости. То есть речь идет о пенсии как об источнике дохода, а значит в таком контексте все же можно назвать пенсионерами молодых людей, получающих пенсию по инвалидности. То есть доход там все-таки есть, как минимум, в виде пенсии. 
  
    
    
- А что можно сказать про аномалии в данных? Например, про столбец стажа?    
</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

**Комментарий студента**
    
В столбце стажа по непонятным причинам есть отрицательные значения, что не совсем понятно.
Возможно отрицательное значение показывает сколько времени клиент находился без работы
</div>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера 2</h2>
    
Причем, по модулю числа кажутся нормальными. Так что минус мог быть просто тире. А вот огромные вызывают много вопросов. Это могут быть часы, а могут быть и пропуски, которые при выгрузке трансформировались в аномальные для конкретного столбца числа. Столбец этот настолько грязный, что восстанавливать его очень трудно. К счастью, он нам не нужен. 
</div>

### Замена типа данных

In [4]:
# Чтобы лишние цифры после запятой не мешали анализу поменяем тип данных в колонках total_income и days_employed 
table['total_income'] = table['total_income'].astype('int')
table['days_employed'] = table['days_employed'].astype('int')

# выведем информацию о таблице на экран
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 13 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null int64
purpose             21525 non-null object
age_category        21525 non-null object
dtypes: int64(7), object(6)
memory usage: 2.1+ MB

**Вывод**

*После замены типов данных с ними будет проще работать.* 
*Как видно в выводе теперь в таблице нет данных с типом float.*
*Для замены использовался метод astype так как в колонках все значения были float и не нужно было получать информацию о возможных ошибках при изменении значений.*

### Обработка дубликатов

In [5]:

# приведем в столбце education все значение к строчным
table['education'] = table['education'].str.lower()

# найдем дубликаты
print('количество дубликатов: ',table.duplicated().sum(),'\n')

# удалим дубликаты в таблице с данными и выведем информацию на экран
table = table.drop_duplicates().reset_index(drop=True)

# проверим новое количество строк
table.info()

количество дубликатов:  71

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21454 entries, 0 to 21453
Data columns (total 13 columns):
children            21454 non-null int64
days_employed       21454 non-null int64
dob_years           21454 non-null int64
education           21454 non-null object
education_id        21454 non-null int64
family_status       21454 non-null object
family_status_id    21454 non-null int64
gender              21454 non-null object
income_type         21454 non-null object
debt                21454 non-null int64
total_income        21454 non-null int64
purpose             21454 non-null object
age_category        21454 non-null object
dtypes: int64(7), object(6)
memory usage: 2.1+ MB

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
Поскольку у нас нет уникальных идентификаторов пользователей, эти дубликаты вполне могут быть разными людьми. А вот дубликаты записей в столбцах вроде **Среднее** образование и **среднее** образование удалить надо было (путем приведения к одному регистру), это верно. </div>

**Вывод**

*Для удаления дубликатов использовался метод drop_duplicates без указания определенной колонки для удаления дубликатов с идентичными значениями во всех строчках, при удалении дубликатов также были сброшены индексы.*

*Дубликаты скорее всего появились из-за ошибок при вводе данных в таблицу - человеческий фактор.*

### Лемматизация

In [6]:
# импортируем Mystem из библитеки pymystem3  и присовим переменной 'm' значение Mystem()
from pymystem3 import Mystem
m = Mystem()

# лемматизируем с помощью цункции lem_cycle колонку purpose создадим новую колонку с рузультатом лематизации
table['purpose_category'] = table['purpose'].apply(lambda x: m.lemmatize(x))

Попробуем сгруппировать данные по столбцу purpose_category чтобы просмотреть все уникальные значения.
Воспользуемся конструкцией try-except,так как есть вероятность что код не сработает.
(в процессе лематизации обрабатывались строки, следовательно в новой колонке дата фреймма purpose_category  тип данных значений это список. .

In [7]:
try:
    table.groupby('purpose_category')['debt'].sum()
except:
    print('Type error / ошибка типа данных','\n')
    
#     Создадим две переменных. Первой присвоим значение колонки purpose_category, 
#     вторая же будет сохранять ункальные значения при переборе значений первой переменной в цикле.
    var_one = table['purpose_category']
    lem_unique = []
    for i in var_one:
        if i not in lem_unique:
            lem_unique.append(i)
    print(lem_unique)

Type error / ошибка типа данных

[['покупка', ' ', 'жилье', '\n'], ['приобретение', ' ', 'автомобиль', '\n'], ['дополнительный', ' ', 'образование', '\n'], ['сыграть', ' ', 'свадьба', '\n'], ['операция', ' ', 'с', ' ', 'жилье', '\n'], ['образование', '\n'], ['на', ' ', 'проведение', ' ', 'свадьба', '\n'], ['покупка', ' ', 'жилье', ' ', 'для', ' ', 'семья', '\n'], ['покупка', ' ', 'недвижимость', '\n'], ['покупка', ' ', 'коммерческий', ' ', 'недвижимость', '\n'], ['покупка', ' ', 'жилой', ' ', 'недвижимость', '\n'], ['строительство', ' ', 'собственный', ' ', 'недвижимость', '\n'], ['недвижимость', '\n'], ['строительство', ' ', 'недвижимость', '\n'], ['на', ' ', 'покупка', ' ', 'подержать', ' ', 'автомобиль', '\n'], ['на', ' ', 'покупка', ' ', 'свой', ' ', 'автомобиль', '\n'], ['операция', ' ', 'с', ' ', 'коммерческий', ' ', 'недвижимость', '\n'], ['строительство', ' ', 'жилой', ' ', 'недвижимость', '\n'], ['жилье', '\n'], ['операция', ' ', 'со', ' ', 'свой', ' ', 'недвижимость', '\n'], ['автомобиль', '\n'], ['заниматься', ' ', 'образование', '\n'], ['сделка', ' ', 'с', ' ', 'подержанный', ' ', 'автомобиль', '\n'], ['получение', ' ', 'образование', '\n'], ['свадьба', '\n'], ['получение', ' ', 'дополнительный', ' ', 'образование', '\n'], ['покупка', ' ', 'свой', ' ', 'жилье', '\n'], ['операция', ' ', 'с', ' ', 'недвижимость', '\n'], ['получение', ' ', 'высокий', ' ', 'образование', '\n'], ['свой', ' ', 'автомобиль', '\n'], ['сделка', ' ', 'с', ' ', 'автомобиль', '\n'], ['профильный', ' ', 'образование', '\n'], ['высокий', ' ', 'образование', '\n'], ['покупка', ' ', 'жилье', ' ', 'для', ' ', 'сдача', '\n'], ['на', ' ', 'покупка', ' ', 'автомобиль', '\n'], ['ремонт', ' ', 'жилье', '\n'], ['заниматься', ' ', 'высокий', ' ', 'образование', '\n']]

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
- Надо ли создавать функцию, чтобы реализовать цикл? :) 


- Описательные комментарии лучше выносить в отдельные ячейки типа Makrdown. Комментарии в коде должны быть лаконичными и отвечать на вопрос *Что делаем?*, а не *Почему?* или *Для чего?*. При этом, только сложный код обычно сопровождают комментариями, где действительно без пояснений трудно разобраться. Примитивный код можно не комментировать :) </div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
    
    
**Комментарий студента**
    
- Заменил цикл на лямбда функцию
    
- Описательные комментарии выделил в ячейки типа Makrdown  
    
- Комментарии добавлял, так как долго не получалось простыми спсобами получить список уникальных значений текста после лематизации.
</div>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера 2</h2>
    
А, если комментарии для себя, то я тольза за. Прекрасно понимаю, что в начале обучения многое кажется сложным, поэтому и хочется для себя прокомментировать чуть ли не каждое действие :) Тогда нет вопросов :)</div>

**Вывод**

*На основании лемматизации можно выделить 4 основные леммы:*
1) свадьба
2) автомобиль
3) образование
4) недвижимость

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
Согласна с категориями.
</div>

### Категоризация данных

In [8]:
# Создадим цикл для категоризации данных в столбе purpose_category по 4 основным леммам
def category (input_value):
    if 'свадьба' in input_value:
        return 'свадьба'
    elif 'автомобиль' in input_value:
        return 'автомобиль'
    elif 'образование' in input_value:
        return 'образование'
    else:
        return 'недвижимость'

# Создадим цикл для категоризцаии данных по наличию/отсутвию долга
def credit_debt (input_value):
    if input_value == 0:
        return 'долга нет'
    else:
        return 'имеется долг'

# Создадим цикл для категоризцаии данных по наличии/отсутствию детей
def kids (input_value):
    if input_value == 0:
        return 'без детей'
    else:
        return 'есть дети'
        
# применим циклы с замещением занчение в столбце purpose_category и создание двух новых столбцов с информацией  о наличии детей и долга. 
table['purpose_category'] = table['purpose_category'].apply(category)
table['debt_status'] = table['debt'].apply(credit_debt)
table['kids_status'] = table['children'].apply(kids)

# выведем первые 10 строк таблицы на экран для проверки
table.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_category,purpose_category,debt_status,kids_status
0,1,-8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,средний возраст,недвижимость,долга нет,есть дети
1,1,-4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,средний возраст,автомобиль,долга нет,есть дети
2,0,-5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,молодежь,недвижимость,долга нет,без детей
3,3,-4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,молодежь,образование,долга нет,есть дети
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,средний возраст,свадьба,долга нет,без детей
5,0,-926,27,высшее,0,гражданский брак,1,M,компаньон,0,255763,покупка жилья,молодежь,недвижимость,долга нет,без детей
6,0,-2879,43,высшее,0,женат / замужем,0,F,компаньон,0,240525,операции с жильем,средний возраст,недвижимость,долга нет,без детей
7,0,-152,50,среднее,1,женат / замужем,0,M,сотрудник,0,135823,образование,средний возраст,образование,долга нет,без детей
8,2,-6929,35,высшее,0,гражданский брак,1,F,сотрудник,0,95856,на проведение свадьбы,средний возраст,свадьба,долга нет,есть дети
9,0,-2188,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425,покупка жилья для семьи,средний возраст,недвижимость,долга нет,без детей

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
Обрати внимание на то, что **input** выделился зеленым. Это говорит о том, что слово уже зарезервировано в языке. Не стоит его использовать, иначе ты не сможешь использовать оригинальный инпут. Он нужен для ввода с командной строки. Запусти ячейку ниже: 
</div>

In [9]:
# КОД РЕВЬЮЕРА


print('Напиши текст: ')
x = input()
print('Твой текст ' + x)

Напиши текст:
hello
Твой текст hello

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

**Комментарий студента**
    
Поменял input на другую переменную, спасибо за пояснение,буду внимательнее.
</div>

**Вывод**

*Для проведения категоризации по столбцу purpose_category были выделены 4 основные леммы так ка они одна из них встречается в любом значении данного столбца.*

*Для других категоризаций было описано наличие или отсуттвие детей или долга для дальнейшей обработки информации и ответов на вопросы.*

<div class="alert alert-danger" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid">
<b> Комментарий ревьюера </b>
    
В задаче нас просят обратить внимание на словари. Словарем можно назвать пару столбцов `education` и `education_id`, поскольку они взаимозаменяемы и из них можно слепить словарь (структуру данных dict). Есть еще что-нибудь подобное в таблице?
</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

**Комментарий студента**

Да, в таблице имеется пара столбцов education и education_id и пара family_status и family_status_id, из них тоже можно создать словарь
</div>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера 2</h2>
    
Верно. Ниже покажу, как это можно использовать.</div>

## Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [10]:
# создадим новую таблицу и присвоим ей значение таблицы с информацие о клиентах
kids_kredit_check = table

#  добавим новую колонку со значеним статуса наличия детей и долга и сгруппируем по значению новой колнки для подсчета количества по каждой категории.
kids_kredit_check['category_kids_kredit'] = kids_kredit_check['kids_status']+', '+kids_kredit_check['debt_status']
kids_kredit_check = kids_kredit_check.groupby('category_kids_kredit')['debt'].count()

# выведем таблицу на экран
display(kids_kredit_check)

# проверим что все значения учтены в таблице
print(kids_kredit_check.sum()==table['debt'].count(),'\n')

# расчитаем процент отношения клиентов с долгами по каждой категории к общему количеству клиентов в категории
precent_withno_kids = kids_kredit_check.iloc[1]/(kids_kredit_check.iloc[0]+kids_kredit_check.iloc[1])
precent_with_kids = kids_kredit_check.iloc[3]/(kids_kredit_check.iloc[2]+kids_kredit_check.iloc[3])

# выведем значения на экран
print('Процент клиентов с детьми, которые имеют долг: {:.2%}'.format(precent_with_kids))
print('Процент клиентов без детей, которые имеют долг: {:.2%}'.format(precent_withno_kids))

category_kids_kredit
без детей, долга нет       13028
без детей, имеется долг     1063
есть дети, долга нет        6685
есть дети, имеется долг      678
Name: debt, dtype: int64

True

Процент клиентов с детьми, которые имеют долг: 9.21%
Процент клиентов без детей, которые имеют долг: 7.54%

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid">
<b> Комментарий ревьюера </b>
    
В столбце `debt` единицами обозначено наличие задолженности. Нулем — ее отсутствие. Так, сумма столбца будет равна сумме единичек или числу должников, а применение метода **count** вернет общее количество кредитов. Таким образом, для поиска доли должников надо разделить сумму на количество, а это не что иное, как среднее.</div>

In [11]:
# КОД РЕВЬЮЕРА
table.groupby('kids_status')['debt'].agg(['count', 'sum', lambda x: '{:.2%} '.format(x.mean())])

             count   sum <lambda_0>
kids_status
без детей    14091  1063     7.54%
есть дети     7363   678     9.21%

**Вывод**

*По данным банка зависимость есть: клиенты с детьми на 1.7% чаще не возвращают кредит в срок.*

*Однако необходимо учитывать, что в данных имеется информация только о 21454 клиентах, вероятно, что при большей выборке процент клиентов, которые не возвращают кредит в срок может измениться в любую сторону.*

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [12]:
# создадим новую колонку и присвоим ей значение таблицы с информацие о клиентах(долг + семейный статус)
table['marriage_debt_status'] = table['family_status']+', '+table['debt_status']

# сгруппируем по значению новой колнки для подсчета количества по каждой категории.
marriage_check = table.groupby('marriage_debt_status')['debt'].count()

# выведем таблицу на экран
display(marriage_check)

# проверим что все значения учтены в таблице
print(marriage_check.sum()==table['debt'].count(),'\n')

# расчитаем процент отношения клиентов с долгами по каждой категории к общему количеству клиентов в категории
precent_not_married = marriage_check.iloc[1]/(marriage_check.iloc[0]+marriage_check.iloc[1])
precent_divorced = marriage_check.iloc[3]/(marriage_check.iloc[2]+marriage_check.iloc[3])
precent_widow = marriage_check.iloc[5]/(marriage_check.iloc[4]+marriage_check.iloc[5])
precent_civil_partners = marriage_check.iloc[7]/(marriage_check.iloc[6]+marriage_check.iloc[7])
precent_married = marriage_check.iloc[9]/(marriage_check.iloc[8]+marriage_check.iloc[9])

# выведем значения на экран
print('Процент клиентов в браке, которые имеют долг: {:.2%}'.format(precent_married))
print('Процент клиентов, которые состоят в гражданском браке и имеют долг: {:.2%}'.format(precent_civil_partners))
print('Процент разведенных клиентов, которые имеют долг: {:.2%}'.format(precent_divorced))
print('Процент овдовевших клиентов, которые имеют долг: {:.2%}'.format(precent_widow))
print('Процент клиентов, которые не состоят в браке и имеют долг: {:.2%}'.format(precent_not_married))

marriage_debt_status
Не женат / не замужем, долга нет        2536
Не женат / не замужем, имеется долг      274
в разводе, долга нет                    1110
в разводе, имеется долг                   85
вдовец / вдова, долга нет                896
вдовец / вдова, имеется долг              63
гражданский брак, долга нет             3763
гражданский брак, имеется долг           388
женат / замужем, долга нет             11408
женат / замужем, имеется долг            931
Name: debt, dtype: int64

True

Процент клиентов в браке, которые имеют долг: 7.55%
Процент клиентов, которые состоят в гражданском браке и имеют долг: 9.35%
Процент разведенных клиентов, которые имеют долг: 7.11%
Процент овдовевших клиентов, которые имеют долг: 6.57%
Процент клиентов, которые не состоят в браке и имеют долг: 9.75%

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера 2</h2>
    
Вот пример того, зачем вообще эти словари нужны. У нас в таблице находятся взаимозаменяемые столбцы. Нам ни к чему дублирующаяся информация. Кроме того, многие алгоритмы плохо работают со строковыми типами данных. Поэтому давай предположим, что мы удалим из таблицы столбец **family_status** после создания словаря.
</div>

In [13]:
# КОД РЕВЬЮЕРА

dict(zip(table['family_status_id'], table['family_status']))

{0: 'женат / замужем',
 1: 'гражданский брак',
 2: 'вдовец / вдова',
 3: 'в разводе',
 4: 'Не женат / не замужем'}

<div style="border-radius: 15px; border: 3px solid black; padding: 10px;">
<b> Комментарий ревьюера 2</b>
    
Словарь будет выглядеть так. Но я его создам как таблицу для удобства отображения, и чтобы было понятно, что то же самое можно сделать и с таблицами, просто взяв срез из двух столбцов. </div>

In [14]:
# КОД РЕВЬЮЕРА

print('Создали словарь:')
family_dict = table[['family_status_id', 'family_status']]
family_dict = family_dict.drop_duplicates().reset_index(drop=True)
display(family_dict)


print('\n\nСгруппированная таблица. Берем по id, другой столбец удалили:')
a = table.groupby('family_status_id')['debt'].agg(['count', 'sum', lambda x: '{:.2%} '.format(x.mean())])
display(a)


# Заменяем
print('\n\nЗаменяем численные значения по ключу словаря:')
a.reset_index().replace({'family_status_id': family_dict.family_status.to_dict()})

Создали словарь:

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  Не женат / не замужем

Сгруппированная таблица. Берем по id, другой столбец удалили:

                  count  sum <lambda_0>
family_status_id
0                 12380  931     7.52%
1                  4177  388     9.29%
2                   960   63     6.56%
3                  1195   85     7.11%
4                  2813  274     9.74%

Заменяем численные значения по ключу словаря:

        family_status_id  count  sum <lambda_0>
0        женат / замужем  12380  931     7.52%
1       гражданский брак   4177  388     9.29%
2         вдовец / вдова    960   63     6.56%
3              в разводе   1195   85     7.11%
4  Не женат / не замужем   2813  274     9.74%

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера 2</h2>
    
Это отличный пример того, как можно менять данные таблицы по ключу словаря :)
</div>

### **Вывод**

*По данным банка наименьше процент должников это овдовевшие клиенты - 6,5%  должников.
Затем числятся разведенные клиенты - 7,1% должников
Только 7.55% клиентов в браке имеют долг.
Наибольший процент должников это клиенты которые не состоят в браке или имеют гражданский брак. 9,75% и 9,35% должников.*

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [13]:
# посчитаем среднее значение и категоризируем данные с клиентами  средним/выше среднего дохода и ниже
range_groups = pd.qcut(table['total_income'],q=3)
range_groups = range_groups.drop_duplicates().sort_values().reset_index(drop=1)
print(range_groups)

# создадим функцию для определения уровня дохода
def income (income_value):
    if income_value in range_groups[0]:
        return 'доход ниже среднего'
    elif income_value in range_groups[1]:
        return 'доход средний'
    else:
        return 'доход выше среднего'

# создадим в таблице колонку с обозначением уровня дохода
table['income_debt_status'] = table['total_income'].apply(income)

#  расчитаем процент отношения клиентов с долгами по каждой категории к общему количеству клиентов в категории
table.groupby('income_debt_status')['debt'].agg(['count', 'sum', lambda x: '{:.2%} '.format(x.mean())])

0    (20666.999, 119869.0]
1     (119869.0, 173597.0]
2    (173597.0, 2265604.0]
Name: total_income, dtype: category
Categories (3, interval[float64]): [(20666.999, 119869.0] < (119869.0, 173597.0] < (173597.0, 2265604.0]]

                     count  sum <lambda_0>
income_debt_status
доход выше среднего   7151  526     7.36%
доход ниже среднего   7152  580     8.11%
доход средний         7151  635     8.88%

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<b> Комментарий ревьюера</b>
    
Что интересно, именно средним было заменено большое количество пропусков. Тут проверяется знак меньше. То есть эти пропуски пошли во второую категорию.  Предлагаю создать больше групп. Для этого удобен метод **qcut**, т.к. он позволяет быстро разделить выборку на равные доли.</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

**Комментарий студента**

Применив метод qcut я определил 3 группы по уровню дохода и категоризировал значения в таблице.

Подсчет количества должников также упростил используя функцию agg
</div>

<div class="alert alert-success" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">
<h2> Комментарий ревьюера 2</h2>
    
Категории ты можешь прямо в методе определить:</div>

In [15]:
# КОД РЕВЬЮЕРА

pd.qcut(table['total_income'], 3, ['низкий','средний', 'высокий'])

0        высокий
1         низкий
2        средний
3        высокий
4        средний
          ...
21520    высокий
21521    средний
21522     низкий
21523    высокий
21524     низкий
Name: total_income, Length: 21525, dtype: category
Categories (3, object): [низкий < средний < высокий]

**Вывод**

*Клиенты со средним уровнем дохода чаще задерживают выплату кредита (8.88%)
Клиенты с высоким уровнем дохода чаще остальных возвращают кредит в срок, только 7% должников.
Среди клиентов с низким уровнем дохода только 8% должников.*

- Как разные цели кредита влияют на его возврат в срок?

In [14]:
# присвоим колонке purpose_debt_status таблицы с информацией о клиентах (долг + категория цели кредита)
table['purpose_debt_status'] = table['purpose_category']+', '+table['debt_status']

# # сгруппируем по значению новой колнки для подсчета количества по каждой категории.
purpose_check = table.groupby('purpose_debt_status')['debt'].count()

# выведем таблицу на экран
display(purpose_check)

# проверим что все значения учтены в таблице
print(purpose_check.sum()==table['debt'].count(),'\n')

# расчитаем процент отношения клиентов с долгами по каждой категории к общему количеству клиентов в категории
precent_auto = purpose_check.iloc[1]/(purpose_check.iloc[0]+purpose_check.iloc[1])
precent_realty = purpose_check.iloc[3]/(purpose_check.iloc[2]+purpose_check.iloc[3]) 
precent_education_= purpose_check.iloc[5]/(purpose_check.iloc[4]+purpose_check.iloc[5])
precent_marriage = purpose_check.iloc[7]/(purpose_check.iloc[6]+purpose_check.iloc[7])

# выведем значения на экран
print('Процент клиентов взявшие кредит на автомобиль, которые имеют долг: {:.2%}'.format(precent_auto))
print('Процент клиентов взявшие кредит на недвижимость, которые имеют долг: {:.2%}'.format(precent_realty))
print('Процент клиентов взявшие кредит на образование, которые имеют долг: {:.2%}'.format(precent_education_))
print('Процент клиентов взявшие кредит на свадьбу, которые  имеют долг: {:.2%}'.format(precent_marriage))

purpose_debt_status
автомобиль, долга нет          3903
автомобиль, имеется долг        403
недвижимость, долга нет       10029
недвижимость, имеется долг      782
образование, долга нет         3643
образование, имеется долг       370
свадьба, долга нет             2138
свадьба, имеется долг           186
Name: debt, dtype: int64

True

Процент клиентов взявшие кредит на автомобиль, которые имеют долг: 9.36%
Процент клиентов взявшие кредит на недвижимость, которые имеют долг: 7.23%
Процент клиентов взявшие кредит на образование, которые имеют долг: 9.22%
Процент клиентов взявшие кредит на свадьбу, которые  имеют долг: 8.00%

**Вывод**

Только 7% клиентов целью кредита которых была покупка недвижимости не вернули кредит в срок.
8% клиентов которые брали кредит на свадьбу не вернули его в срок.
Наибольшее количество клиентов не вернувших кредит в срок брали кредит на автомобиль и образование (9,3% и 9,2%)

## Шаг 4. Общий вывод

**В процессе анализа данных было была получена следующая информация:**

*Самые надежные клиенты:*
- Клиенты, которые берут кредит на недвижимость (только 7.23% невозврата кредита в срок)
- Клиенты, семейное положение которых - овдовевший/ая (6.57% невозврата кредита в срок)
- Кленты без детей (7.54% невозврата кредита в срок)
- Клиенты с доходом выше среднего (7.36% невозврата кредита в срок)

*Самые безответственные клиенты:*
- Клиенты, которые берут кредит на автомобиль (9.36% невозврата кредита в срок)
- Клиенты, не состоящие в браке (9.75% невозврата кредита в срок)
- Кленты с детьми (9.21% невозврата кредита в срок)
- Клиенты с средним уровнем дохода (8.88% невозврата кредита в срок)

<div class="alert alert-warning" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid">
<b> Комментарий ревьюера</b>
    
Хорошо. Однако ты описываешь результаты, а нужны выводы. В идеале надо бы привести проценты невозврата в срок у самых надежных и самых безответственных клиентов для каждой группы. Например: самые надежные клиенты это люди, берущие кредит на операции с недвижимостью (такой-то процент невозврата в срок), а самые безответственные те, кто обращается в банк с целью получить деньги на покупку автомобиля (такой-то процент). И так для каждый группы. Это хороший тон, — подкреплять вывод полученными ранее результатами. Кроме того, так ты не оставляешь заказчику шансов неверно интерпретировать вывод.
</div>

<div class="alert alert-info" style="border-radius: 15px; box-shadow: 4px 4px 4px; border: 1px solid ">

**Комментарий студента**

Выводы поправил, описал самых надежных и самых безответственных клиентов, так же указал % по каждому из таких типов.

</div>

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.